.block-banner {
  background-repeat: no-repeat;
  background-position: center;
  min-height: 700px;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  .overlay {
    position: absolute;
    background: #00000051;
    height: 100%;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
  }
  h1,
  p {
    text-align: center;
    font-family: "Roboto", sans-serif;
    z-index: 5;
    position: relative;
    font-size: 1.5rem;
    color: #FFF;
    line-height: normal;
  }
  h1 {
    font-size: clamp(3rem, 5vw, 4rem);
    color: #fff;
    font-weight: 700;
  }
  .cta{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 5;
    margin-top: 15px;
    button{
        background-color: #00a295;
        color: #FFF;
        padding: 12px 50px;
        font-size: 1.2rem;
        border-radius: 100px;
    }
  }
}
